.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.App-header {
  min-height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chatbox {
  height: 600px;
  width: 500px;
  overflow: auto;
}

.grandpybot {
  text-align: left;
}

.user {
  text-align: right;
}

.map {
  width: 300px;
  height: 300px;
}

@media all and (max-width: 1200px)
{
  .App-header {
    flex-direction : column;
  }

  .chatbox {
    width: 400px;
  }
  .map {
    width: 230px;
    height: 230px;
  }
}

@media all and (max-width: 500px)
{
  .chatbox {
    width: 300px;
  }
  .map {
    width: 150px;
    height: 150px;
  }
}

@media all and (max-height: 800px)
{
  .chatbox {
    height: 400px;
  }
}

@media all and (max-height: 500px)
{
  .chatbox {
    height: 300px;
  }
}