.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chatbox {
  height: 500px;
  width: 500px;
  overflow: auto;
}

.chatForm {
  width: 500px;
}

.grandpybot {
  text-align: left;
}

.user {
  text-align: right;
}

@media all and (max-width: 1200px)
{
  .App-header {
    flex-direction : column;
  }

  .chatbox {
    width: 400px;
  }
}

@media all and (max-width: 500px)
{
  .chatbox {
    width: 300px;
  }
}